<footer class="site-footer">
  <div class="container site-footer-inner">
    <p class="footer-brand">
      {{> icons/feather class="icon-footer"}}
      <span>© 2026 Steff Dziadkowiec. All rights reserved.</span>
    </p>
    <div class="social-row">
      <span>Follow the journey:</span>
      <a href="https://instagram.com/caelumnightwhisper" target="_blank" rel="noopener noreferrer">
        {{> icons/instagram class="icon-footer"}}
        <span>Instagram</span>
      </a>
      <a href="https://twitter.com/caelumnightwhisper" target="_blank" rel="noopener noreferrer">
        {{> icons/twitter class="icon-footer"}}
        <span>Twitter</span>
      </a>
      <a href="https://facebook.com/caelumnightwhisper" target="_blank" rel="noopener noreferrer">
        {{> icons/facebook class="icon-footer"}}
        <span>Facebook</span>
      </a>
      <a href="https://artstation.com/caelumnightwhisper" target="_blank" rel="noopener noreferrer">
        {{> icons/feather class="icon-footer"}}
        <span>ArtStation</span>
      </a>
    </div>
  </div>
</footer>
