{{#with (localize about lang) as |about_data|}}
<section class="layout-container page-placeholder">
  <h1>{{ about_data.title }}</h1>
  <p>{{ about_data.intro }}</p>
  <p>{{ about_data.body }}</p>
</section>
{{/with}}
